Thumbs.db
*.log
*.rsc
*.int
*.dmb
*.lk
*.backup
*.before
*.code-workspace
data/
cfg/
config/config.txt
build_log.txt
code/_core/world/private.dm
maps/main/backup/
text/badwords.txt
icons/OLD/
__pycache__/
*.py[cod]
*$py.class
/.atom-build.json
.vscode/
