body {
	font-family: Verdana, sans-serif;
	font-size: 8px;
}
span.warning{
	color: red;
	font-style: italic;
}
span.danger{
	color: red;
	font-weight: bold;
}
span.ooc{
	color: blue;
	font-weight: bold;
}
span.looc{
	color: cyan;
	font-weight: bold;
}
span.notice{
	color: blue;
	font-style: italic;
}

span.examine_title{
	font-size: 200%;
	text-align: center;
}
span.examine_description{
	font-style: italic;
	text-align: center;
}
span.examine_info{
	font-style: italic;
}



span.distance_large{
	font-size: 120%;
}
span.distance_medium{
	font-size: 100%;
}
span.distance_small{
	font-size: 80%;
}
span.distance_tiny{
	font-size: 60%;
}
span.greeting{
	font-size: 200%;
	color: purple;
}

span.red{
	font-size: 150%;
	color: red;
}

span.blue{
	font-size: 150%;
	color: blue;
}

span.green{
	font-size: 150%;
	color: green;
}

span.yellow{
	font-size: 150%;
	color: yellow;
}
